body {
  font-family: sans-serif;
}

.none {
  display: none;
}

.h2-clock {
  display: inline-block;
}

.h4-seconds {
  display: inline-block;
}

.bgimg {
  width: 100%;
  height: 100%;
  z-index: -1;
}
